page-home {
    ion-card {
        margin: 0px !important;
        width: 100% !important;
        height: 100% !important;
        background-image: url('../../assets/img/wtcb.jpg') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    }
    SCROLL-CONTENT {
	   overflow-y: auto !important;
    }
    CODE {
        background: #EFEFEF;
    }
    ion-content {
        background: #151515;
    }
    ion-grid {
        height: calc(100vh - 55px);
        overflow:hidden !important;
    }
    .notice-header {
        height:35vh !important;
    }
    .wtc-container {
        height:65vh !important;
    }
    .superfill {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
    }
    .dashboard {
        background-image: url('../../assets/img/wtcb.jpg');
        background-size: cover;
        background-position:  center center;
	    background-repeat: no-repeat;
    }
    .alerts {
        background-image: url('../../assets/img/torreA.jpg');
        background-size: cover;
        background-position:  center center;
	    background-repeat: no-repeat;
    }
    .news {
        background-image: url('../../assets/img/torreA.jpg');
        background-size: cover;
        background-position:  center center;
	    background-repeat: no-repeat;
    }
    .torreA {
        background-image: url('../../assets/img/torreA.jpg');
        background-size: cover;
        background-position:  center center;
	    background-repeat: no-repeat;
    }
    .torreB {
        background-image: url('../../assets/img/torreB.jpg');
        background-size: cover;
        background-position:  center center;
	    background-repeat: no-repeat;
    }
    .torreC {
        background-image: url('../../assets/img/torreC.jpg');
        background-size: cover;
        background-position:  center center;
	    background-repeat: no-repeat;
    }
    div.input-wrapper {
        text-align:center !important;
    }
}