page-home {
    ion-card {
        margin: 0px !important;
        width: 100% !important;
        height: 100% !important;
        background-image: url("http://alphavictoriastudios.com/wtcb.jpg") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    }
}
